[Unit]
Description=WebBook
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/webbooks
ExecStart=/opt/webbooks/mvnw.conv spring-boot:run
User=webbook
Group=webbook

[Install]
WantedBy=multi-user.target